*{
margin:0px;
padding: 0px;
}
body{
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: white;

}
.header1{
    background-color: white;
    border-style: double;
;
}
.header1 i{
    float: right;
}
.header1 b{
    color: black;
}
.search{
    background-color: rgb(162, 229, 198);
    
    
}
.search label{
    float: right;
}
.search ul{
    list-style: none;
    overflow: hidden;
    padding: 14px 16px;
    display: inline-block;
}
.search li{
    float: left;
    margin-right: 10px;
    color: tomato;

}
.search li:hover{
    background-color: black;
}
.label{
    margin: auto;
}

.aside_left{
    float:left;
    
    width: 20%;
    height: 1000px;
}

.aside_right{
    width: 20%;
    height:1000px;
    
    float:right
    
}

.footer{
    background-color: black;
    text-align: left;
}

.section{
    width: 80%;
    height: 1000px;
    padding-left: 5px;
}
.left1{
    border: 1px solid blue;
}
.left1 li{
    padding: 2px;
    padding-left: 5px;
}
.left2{
    border: 1px solid blue;
    
}
.left2 li{
    padding: 2px;
    padding-left: 5px;
}
.scroll{
    height: 300px;
}